# cache files
*.pyc
*.pyo
.vscode
.ipynb_checkpoints/
.spyproject/
__pycache__/
*.tmp
optimization_models/
presentations/
models/
analysis/
neuralnetwork/spine_segmentation/bayesian_search
neuralnetwork/IoU
data/